/********/
/* BASE */
/********/
    
    /* Base/Normalized Styles For Elements */
    body {font:300 16px "Segoe UI", Helvetica, Sans-Serif; background:url(../img/body-bg.jpg) top center no-repeat;}
    h1, h2, h3, h4, h5, h6 {color:#0079c1; text-transform:uppercase; font-weight:lighter;}


/**********/
/* LAYOUT */
/**********/

    /* Site Header */
    #header {}
    #header-content {text-align:center; padding:0 2em; box-sizing:border-box; overflow:hidden;}
    #header-title {}
    #header-title > h1 > a {color:#005daa; font-weight:300; text-decoration:none;}
    #header-extra {margin:2.17em 0;}
    #header-extra-toggle {}
    
    #navbar {padding:0 1em; box-sizing:border-box;}
    #navbar-content {padding:1em; background:#005daa; box-shadow:inset 0px 0px 0px 4px rgba(255,255,255,0.25); border-radius:10px;}
    #navbar-content a {color:#fff; text-decoration:none;}

    /* Core */
    #core {}
    #core-content {}

    /* Site Footer */
    #footer {background:#eee; padding:2em 0;}
    #footer-content {}
    #footer-content h3 {color:#CC0000; font-weight:lighter;}


/***********/
/* MODULES */
/***********/

    /* Grid */
    .grp {overflow:hidden;}
    .grp > .col {padding:1em; box-sizing:border-box; overflow:hidden;}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {}
    .grp-two > .col-two {}
    .grp-three {}
    .grp-three > .col-one {}
    .grp-three > .col-two {}
    .grp-three > .col-three {}
    .grp-four {}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Navigation */
    .navigation {list-style:none; margin:0; padding:.5em 0;}
    .navigation.fixed {}
    .navigation > li {display:inline-block;}
    .navigation > li > a {padding:.75em; border-radius:4px;}
    .navigation > li > a:hover {background:rgba(255,255,255,0.25);}
    .navigation > li > a.active {}

    /* Hero */
    .hero {background:#005daa; border-radius:10px; overflow:hidden; position:relative;}
    .hero > img {width:100%; display:block;}
    .hero-color {}
    .hero-content {color:#fff; padding:2em; background:url('../img/hero-content.png') no-repeat;}
    .hero-content > h1 {color:#eeb211;}
    .hero-link {color:#eeb211; text-decoration:none; font-weight:bold;}
    .hero-link:after {}
    
    /* Menu */
    .menu {font-size:.9em; background:#eee; border-radius: 6px; overflow:hidden;}
    .menu-header {color:#005daa; padding:.75em; background:#ddd; border-bottom: 1px dashed #ccc;}
    .menu-header > h2 {margin:0;}
    .menu-content {}
    .menu-items {list-style:none; margin:0; padding:0;}
    .menu-items > li {border-bottom: 1px solid #ddd;}
    .menu-items > li > a {color:#005daa; text-decoration:none; padding:.75em; border-left: 2px solid #F1F1EF; display:block;}
    .menu-items > li > a:hover {border-left: 2px solid #666;}
    .menu-items > li > a.active {border-left: 2px solid #666;}

    /* News */
    .news {font-size:.9em; background:#eee; border-radius: 6px 6px 0px 0px; overflow:hidden;}
    .news-header {color:#005daa; padding:.75em; background:#ddd; border-bottom: 1px dashed #ccc;}
    .news-header > h2 {margin:0;}
    .news-content {padding:1em;}
    .news-items {list-style:none; margin:0; padding:0;}
    .news-items > li {margin:0 0 1.5em 0;}
    .news-items > li:last-child {margin:0;}
    .news-items > li > h3 {margin:0 0 .5em 0;}
    .news-items > li > h3 > a {color:#d9531e; text-decoration: none;}
    .news-items > li > p {margin:.5em 0;}
    .news-item-date {}
    .news-item-link {color:#0079c1; text-decoration:none;}
    .news-item-link:after {content: "...";}

    /* Events */
    .events {font-size:.9em; background:#eee; border-radius: 6px 6px 0px 0px; overflow:hidden;}
    .events-header {color:#005daa; padding:.75em; background:#ddd; border-bottom: 1px dashed #ccc;}
    .events-header > h2 {margin:0;}
    .events-content {padding:1em;}
    .events-items {list-style:none; margin:0; padding:0;}
    .events-items > li {margin:0 0 1em 0;}
    .events-items > li:last-child {margin:0;}
    .events-items > li > p {margin:0;}
    .event-date {text-transform:uppercase; display:block;}
    .event-month {color:#0079c1;}
    .event-day {color:#005daa; font-weight:800;}
    .event-year {display:none;}
    .event-title {color:#d9531e; font-size:1.3em; text-decoration:none;}
    
    /* Breadcrumbs */
    .breadcrumbs {padding:.5em 0;border-bottom:1px solid #ccc;}
    .breadcrumbs > ul {list-style:none; margin:0; padding:0;}
    .breadcrumbs > ul > li {display:inline-block;}
    .breadcrumbs > ul > li:after {content:" > "; margin:0 .5em;}
    .breadcrumbs > ul > li:last-child:after {content:none;}
    .breadcrumbs > ul > li > a {color:#0079c1; text-decoration:none;}

    /* Info Bar */
    .info-bar {list-style:none; margin:0; padding:0;}
    .info-bar > li {display:inline-block;}

    /* Block */
    .block {}
    .block-image {}
    .block-content {}

    /* Card */
    .card {}
    .card-image {}
    .card-image > img {width:100%; max-width:300px;}
    .card-content {}

    /* Link List */
    .list {list-style:none; margin:0; padding:0;}
    .list > li {padding:.5em 0;}
    .list > li > a {color:#333; text-decoration:none;}
    .list > li > a:hover {}

    /* Link Chain */
    .chain {}
    .chain > li {}
    .chain > li > a {}
    .chain > li > a:hover {}
    
    /* Search */
    .search {border-bottom:1px solid #ccc; position:relative; overflow:hidden;}
    .search-label {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
    .search-input {width:100%; padding:.5em; border:none; float:left;}
    .search-button {background:none; border:none; float:right; position:absolute; right:.5em; top:.5em;}

    /* Button */
    .button {color:#fff; text-decoration:none; max-width:300px; padding:.75em; background:#0062A9 url('../img/btn.png') left no-repeat; border-radius:4px; display:inline-block; transition:background ease .5s;}
    .button:hover {background:#0079c1 url('../img/btn.png') right no-repeat;}


/*************/
/* MODIFIERS */
/*************/
    
    /* Image Placement */
    .is-image-left {float:left; margin-right:1em;}
    .is-image-right {float:right; margin-left:1em;}
    
    /* Visibility */
    .is-hidden {display:none !important;}
    .is-visible {display:block !important;}
    .is-collapsed {max-height:0; transition: all ease 0.5s;}
    .is-expanded {max-height:1000px; transition: all ease 0.5s;}
    .is-transparent {
        opacity:0;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-opaque {
        opacity:1;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-last {margin:0;}
    

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:42.5em) {

    /**********/
    /* LAYOUT */
    /**********/
    
    /* Resize Wraps */
    #header-content,
    #navbar,
    .hero-content,
    #core,
    #footer-content {max-width:1200px; margin:0 auto;}

    /* Header */
    #header-title {float:left;}
    #header-extra {float:right;}

    /* Navbar */
    #navbar {padding:0 2em;}


    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {}
    .grp > .col {padding:2em;}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {width:35%; float:left;}
    .grp-two > .col-two {width:65%; float:left;}
    .grp-three {}
    .grp-three > .col-one {width:35%; float:left;}
    .grp-three > .col-two {width:65%; float:left;}
    .grp-three > .col-three {width:100%; float:none;}
    .grp-four {}
    .grp-four > .col {width:50%; float:left;}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}
    
    /* Hero */
    .hero {height:350px;}
    .hero > img {width:auto; height:100%;}
    .hero-content {width:400px; height:100%; padding:0 0 0 200px; position:absolute; right:0px; top:0px;}

    /* Block */
    .block {overflow:hidden;}
    .block-image {margin:0 4em 0 0; float:left;}
    .block-image > img {display:block;}
    .block-content {}

}

@media screen and (min-width:62.5em) {
  
    /**********/
    /* LAYOUT */
    /**********/


    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {overflow:hidden;}
    .grp > .col {}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {width:25%;}
    .grp-two > .col-two {width:75%;}
    .grp-three {}
    .grp-three > .col-one {width:30%;}
    .grp-three > .col-two {width:40%;}
    .grp-three > .col-three {width:30%; float:left;}
    .grp-four {}
    .grp-four > .col {width:25%; float:left;}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Block */
    .block {}
    .block-image {}
    .block-image > img {}
    .block-content {}  

}

/* ZEN FRAMEWORK v2.0.0 */