/********/
/* BASE */
/********/
    /* Google Font */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

    /* Base/Normalized Styles For Elements */
    body {color:#fff; font:300 16px "Open Sans", Sans-Serif; background:#0079c1;}
    strong {font-weight:800;}

/**********/
/* LAYOUT */
/**********/

    /* Site Width */
    #header,
    #navbar,
    #feature,
    #core,
    #footer-content {width:90%; margin:0 auto; box-sizing:border-box;}

    /* Header */
    #header {margin:1.5em auto; padding:0 1em;}
    #header-content {padding:1em 0; overflow:hidden;}
    #header-title {text-align:center;}
    #header-title > h1 {margin:0;}
    #header-title > h1 > a {color:#fff; font-weight:300; text-decoration:none;}
    #header-extra {width:100%; margin:1em 0 0 0;}
    #header-extra-toggle {}
    
    /* Navbar */
    #navbar {margin:0 auto 1em auto; padding:0 1em; overflow:hidden;}
    #navbar-content > ul {border-top:3px solid #eeb111;}

    /* Feature */
    #feature {padding:0 1em;}
    #feature-content {}

    /* Core */
    #core {}
    #core-content {}

    /* Footer */
    #footer {background:#333; border-top:4px solid #eeb111;}
    #footer-content {}
    #footer-content a {color:#fff;}
    #footer-content h3 {color:#eeb111;}


/***********/
/* MODULES */
/***********/

    /* Grid */
    .grp {overflow:hidden;}
    .grp > .col {padding:1em; box-sizing:border-box; overflow:hidden;}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {}
    .grp-two > .col-two {}
    .grp-three {}
    .grp-three > .col-one {}
    .grp-three > .col-two {}
    .grp-three > .col-three {}
    .grp-four {}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Navigation */
    .navigation {list-style:none; margin:0; padding:1em 0;}
    .navigation.fixed {}
    .navigation > li {display:inline-block;}
    .navigation > li > a {color:#fff; text-decoration:none; padding:.75em 1em; border-radius:4px;}
    .navigation > li > a:hover {background:rgba(255,255,255,0.25);}
    .navigation > li > a.active {background:rgba(255,255,255,0.25);}

    /* Hero */
    .hero {background:#fff; border-radius:6px; position:relative; overflow:hidden;}
    .hero > img {width:100%; display:block;}
    .hero-extra {}
    .hero-caption {color:#333; width:100%; padding:1em; background:#fff; border-bottom:4px solid #eeb111; box-sizing:border-box; display:block;}
    .hero-caption > h1 {color:#eeb111; font-size:1.25em; margin:0;}
    .hero-caption > a {color:#0079c1; font-weight:700; text-decoration:none;}
    
    /* Menu */
    .menu {color:#444; padding:1em; background:#fff; border-top:4px solid #eeb111;}
    .menu-header {}
    .menu-header > h2 {margin:0 0 .5em 0;}
    .menu-content {}
    .menu-items {list-style:none; margin:0; padding:0;}
    .menu-items > li {padding:.5em 0;}
    .menu-items > li > a {color:#333; text-decoration:none;}

    /* News */
    .news {color:#444; padding:1em; background:#fff; border-top:4px solid #eeb111;}
    .news-header {}
    .news-header > h2 {margin-top:0;}
    .news-content {}
    .news-items {list-style:none; margin:0; padding:0;}
    .news-items > li {margin:0 0 1em 0;}
    .news-items > li > h3 {margin:0 0 .5em 0;}
    .news-items > li > h3 > a {color:#eeb111; text-decoration:none;}
    .news-items > li > p {margin-top:.5em;}
    .news-item-date {}
    .news-item-link {color:#333;}

    /* Events */
    .events {color:#444; padding:1em; background:#fff; border-top:4px solid #eeb111;}
    .events-header {}
    .events-header > h2 {margin-top:0;}
    .events-content {}
    .events-items {list-style:none; margin:0; padding:0;}
    .events-items > li {margin:0 0 1em 0;}
    .events-items > li:last-child {margin:0;}
    .events-items > li > p {margin:0;}
    .event-date {color:#0079C1; font-size:.85em; display:block;}
    .event-date-month {}
    .event-date-day {}
    .event-date-year {}
    .event-title {color:#eeb111; font-size:1.25em; font-weight:600; text-decoration:none; margin:.1em 0 .25em 0; display:block;}
    
    /* Breadcrumbs */
    .breadcrumbs {padding:.5em 0;border-bottom:1px solid #ccc;}
    .breadcrumbs > ul {list-style:none; margin:0; padding:0;}
    .breadcrumbs > ul > li {display:inline-block;}
    .breadcrumbs > ul > li:after {content:" "; width:.25em; height:.25em; background:#fff; border-radius:50%; margin:.25em .5em .25em .75em; display:inline-block;}
    .breadcrumbs > ul > li:last-child:after {content:none;}
    .breadcrumbs > ul > li > a {color:#fff; text-decoration:none; transition:border ease .5s;}
    .breadcrumbs > ul > li > a:hover {border-bottom:1px solid #fff;}

    /* Info Bar */
    .info-bar {list-style:none; margin:0; padding:0; font-size:.85em;}
    .info-bar > li {padding:.15em; display:inline-block;}

    /* Block */
    .block {}
    .block-image {}
    .block-content {}

    /* Card */
    .card {}
    .card-image {}
    .card-image > img {width:100%;}
    .card-content {}

    /* List */
    .list {list-style:none; margin:0; padding:0;}
    .list > li {padding:.5em 0;}
    .list > li > a {color:#333; text-decoration:none;}
    .list > li > a:hover {}

    /* Chain */
    .chain {}
    .chain > li {}
    .chain > li > a {}
    .chain > li > a:hover {}
    
    /* Search */
    .search {border-bottom:3px solid #eeb111; position:relative; overflow:hidden;}
    .search-label {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
    .search-input {color:#333; width:100%; padding:.5em; border:none; box-sizing:border-box;float:left;}
    .search-button {color:#fff; background:#f47b20; border:none; border-radius:4px; float:right; position:absolute; right:.5em; top:.45em;}

    /* Button */
    .button {color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,0.5); text-decoration:none; padding:.75em 1em; background:#f47b20; border-radius:4px; transition:background ease .5s; display:inline-block;}
    .button:hover {background:#eeb111;}


/*************/
/* MODIFIERS */
/*************/
    
    /* Image Placement */
    .is-image-left {float:left; margin-right:1em;}
    .is-image-right {float:right; margin-left:1em;}
    
    /* Visibility */
    .is-hidden {display:none !important;}
    .is-visible {display:block !important;}
    .is-collapsed {max-height:0; transition: all ease 0.5s;}
    .is-expanded {max-height:1000px; transition: all ease 0.5s;}
    .is-transparent {
        opacity:0;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-opaque {
        opacity:1;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-last {margin:0;}
    

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:42.5em) {

    /**********/
    /* LAYOUT */
    /**********/
    
    /* Site Width */
    #header,
    #navbar,
    #feature,
    #core,
    #footer-content {max-width:1200px; box-sizing:border-box;}

    /* Header */
    #header {padding:0 2em;}
    #header-content {}
    #header-title {text-align:left; float:left;}
    #header-extra {width:auto; margin:0; float:right;}
    #header-extra-toggle {}

    /* Navbar */
    #navbar {padding:0 2em;}

    /* Feature */
    #feature {padding:0 2em;}
    
    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {}
    .grp > .col {padding:2em;}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {width:35%; float:left;}
    .grp-two > .col-two {width:65%; float:left;}
    .grp-three {}
    .grp-three > .col-one {width:35%; float:left;}
    .grp-three > .col-two {width:65%; float:left;}
    .grp-three > .col-three {width:100%; float:none;}
    .grp-four {}
    .grp-four > .col {width:50%; float:left;}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Block */
    .block {}
    .block-image {margin:0 2em 0 0; float:left;}
    .block-content {overflow:hidden;}

}

@media screen and (min-width:62.5em) {
  
    /**********/
    /* LAYOUT */
    /**********/


    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {}
    .grp > .col {}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {width:25%;}
    .grp-two > .col-two {width:75%;}
    .grp-three {}
    .grp-three > .col-one {width:30%;}
    .grp-three > .col-two {width:40%;}
    .grp-three > .col-three {width:30%; float:left;}
    .grp-four {}
    .grp-four > .col {width:25%; float:left;}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Hero */
    .hero {}
    .hero-caption {position:absolute; bottom:0; display:block;}

}

/* ZEN FRAMEWORK v2.0.0 */